{
	admin 0.0.0.0:2019
	auto_https off
}

http://admin.funkfactorymediagroup.com:8080 {
	root * /srv/sites/admin
	file_server
	try_files {path} /index.html
}

http://preview.funkfactorymediagroup.com:8080 {
	root * /srv/sites
	file_server browse
	try_files {path} {path}/index.html =404
}

http://:8080 {
	respond "Not found" 404
}
